/* 整个项目都能使用上的 样式 */
html, body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  font-family:'宋体';
}

.lv-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #000;
  font-family:arial;
  .logo {
    font-size: 26px;
    color:#000;
    font-weight:bold;

    text-decoration: none;
  }
  .right {
    display: flex;
    align-items: center;
    .btn{
      margin-left:25px;
      width:100px;
    }
  }
}
.lv-menu {
  width: 240px;
  height: 100%;
  border-right: 1px solid #666;
  overflow-y: auto;

  li {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #666;
    a{
        color:#666;
        font-weight:600;
        font-size:20px;
    }
  }
}

.lv-main {
  flex: 1;
  display: flex;
  background: #FFF;
  position: relative;
  .lv-con {
    flex: 1;
    padding: 20px;
    text-align:center;
    h4{
        font-size:20px;
        font-weight:600;
    }
  }
}

.search-bar {
    margin: 10px 0;
    text-align:left;
    .btn{
        width:80px;
    }
}
.lv-con{
    .add{
        float:left;
        margin-bottom:20px;
        .btn{
            width:120px;
            height:40px;
            font-size:16px;
        }
        .wrap{
            //点击显示
            display:none;
            border:1px solod #ccc;
            background: #f9f9f9;
            position: absolute;
            top:30px;
            padding:20px 40px;
            left:50%;
            margin-left:-170px;
            h4{
                line-height:40px;
            }
            .btns{
                float:right;
                .btn{
                    width:90px;
                }
                .btn-default{
                    margin-left:10px;
                }
            }
            .form-control{
                display:inline-block;
                width:220px;
            }
            .send_img_file{
                display:inline-block;
                width:220px;
                font-size:12px;
            }
        }
    }
    .table{
        tr{
            th,
            td{
                text-align: center;
                vertical-align: middle;
                a{
                    color:#000;
                }
            }
        }

        .img_row{
            img{
                width:50px;
                height:50px;
            }
        }
    }
}

.lv-foot {
  height: 50px;
  border-top: 1px solid #000;
}



// ================= 万恶的分割线 对bootstrap的样式的一些修改=====

.table-hover>tbody>tr:hover {
  background-color: #337ab7;
}

.pagination {
  float: right;
}
